//================================================================================================
// @-variables.scss
// This file set the global variables of auckland lib
//================================================================================================

//================================================================================================
// COLORS
//================================================================================================
$background: rgb(244, 245, 247);
$blue: #5ab9ea;
$dark-blue: #366f8c;
$dark-primary-color: #e85a4f;
$dark-red: darkRed;
$dark-green: #004943;
$dark-grey: #00000033;
$font-color: #444;
$green: #3aafa9;
$grey: rgb(130, 130, 130);
$light-grey: rgb(230, 230, 230);
$light-primary-color: #ec978e;
$primary-color: #e98074;
$white: white;
// status
$success: $dark-green;
//    dark-mode
$dark-mode-background: rgb(50, 52, 55);
$dark-mode-font-color: white;
$dark-mode-font-color-light: #ccc;
$dark-mode-grey: #ccc;
$dark-mode-white: rgb(100, 102, 105);

//================================================================================================
// FONTS
//================================================================================================
$font-family: 'Work Sans';
$font-rem-base: 14px;
$font-rem-mobile: 14px;
$text-xxs: 0.625rem;
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 4rem;
//================================================================================================
// SPACING
//================================================================================================
$size-0: 0;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-8: 2rem;
$size-10: 2.5rem;
$size-12: 3rem;
$size-16: 4rem;
$size-20: 5rem;
$size-24: 6rem;
$size-32: 8rem;
$size-40: 10rem;
$size-48: 12rem;
$size-56: 14rem;
$size-64: 16rem;

//================================================================================================
// BORDER
//================================================================================================
$border-radius: $size-5;
$border-color: $light-grey;

//================================================================================================
// TRANSITION
//================================================================================================
$transition-time: 0.3s;

//================================================================================================
// Z-INDEXS
//================================================================================================
$z-indexs: (
  select: 1,
  tooltip: 10,
  overlay: 100,
  overlayContent: 101
);

//================================================================================================
// BREAKPOINTS
//================================================================================================
$mobile-breakpoint: 1024px;